*.class

# Intelli-J IDEA project files
*.iml
.idea

# Mac OS X specific metadata files
.DS_Store

# Package Files #
*.jar
*.war
*.ear
/exquery-common/target/
/exquery-xquery/target/
/exquery-xquery3/target/
/exquery-restxq/target/
/exquery-annotations-common/target/
/exquery-serialization-annotations-api/target/
/exquery-serialization-annotations/target/
/exquery-restxq-api/target/
/exquery-annotations-common-api/target/
